<!DOCTYPE html>
<html>
  <head>
    <title><%=yield(:title)%>ページ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%
=begin%>
 <header>
    <div class="container">
      <%= link_to "トップページへ", "top",id:"logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right" > 
          <li><%= link_to "ユーザー登録画面ヘ", "singup" %></li>
          <li><%= link_to "詳細ページへ", "about" %></li>
          <li><%= link_to "Log in ページへ", "login" %></li>
        </ul>
      </nav>
    </div>  
  </header> 
<%
=end%>
    <div>
      <%= yield %>  
    </div>
    
  </body>
</html>
